/* styles.css */
/* Add styles for gallery here */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.gallery img {
    width: 300px;
    object-fit: cover;
}